<!DOCTYPE html>
<html>
  <head>
    <title>CSS Layout Testing</title>
    <meta name="viewport" content="width=device-width">

    <!-- Leave these CSS files alone! -->
    <link href="../visualselectors.css" rel="stylesheet">
    <link href="reset.css" rel="stylesheet">

    <!-- Insert your stylesheet here -->
    <!-- <link href="position.css" rel="stylesheet"> -->
    <!-- <link href="floating.css" rel="stylesheet"> -->
    <link href="flex.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1>An Awesome Company</h1>

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Cart (2)</a></li>
        </ul>
      </nav>
    </header>

    <div class="container">
      <section class="sidebar primary">
        <p>
          Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In
          id erat non orci commodo lobortis.  Proin neque massa,
          cursus ut, gravida ut, lobortis eget, lacus.  Sed diam.
          Praesent fermentum tempor tellus.  Nullam tempus.  Mauris ac
          felis vel velit tristique imperdiet.  Donec at pede.  Etiam
          vel neque nec dui dignissim bibendum.  Vivamus id enim.
          Phasellus neque orci, porta a, aliquet quis, semper a,
          massa.  Phasellus purus.  Pellentesque tristique imperdiet
          tortor.  Nam euismod tellus id erat.
        </p>

        <ul>
          <li><a href="#">Pellentesque tristique imperdiet tortor.</a></li>
          <li><a href="#">Nam a sapien.</a></li>
          <li><a href="#">Nulla posuere.</a></li>
          <li><a href="#">Aliquam feugiat tellus ut neque.</a></li>
          <li><a href="#">Donec at pede.</a></li>
          <li><a href="#">Nulla facilisis, risus a rhoncus.</a></li>
          <li><a href="#">Nullam tempus.</a></li>
          <li><a href="#">Pellentesque tristique imperdiet tortor.</a></li>
          <li><a href="#">Aliquam feugiat tellus ut neque.</a></li>
          <li><a href="#">Nam vestibulum accumsan nisl.</a></li>
          <li><a href="#">Phasellus lacus.</a></li>
          <li><a href="#">Nullam libero mauris, consequat quis.</a></li>
          <li><a href="#">Nam euismod tellus id erat.</a></li>
          <li><a href="#">Donec neque quam, dignissim in, mollis.</a></li>
          <li><a href="#">Cras placerat accumsan nulla.</a></li>
        </ul>
      </section>

      <main>
        <article>
          <header>
            <h1>About Our Company</h1>

            <nav>
              <ul>
                <li>Donec pretium posuere tellus.</li>
                <li>Nulla posuere.</li>
                <li>Nullam rutrum.</li>
              </ul>
            </nav>
          </header>

          <summary>
            <p>
              Pellentesque dapibus suscipit ligula.
              <span class="loud">Donec posuere augue in quam.</span>
              Etiam vel neque nec dui dignissim bibendum.
            </p>
          </summary>

          <h2>Aliquam posuere</h2>

          <p>
            Etiam vel tortor sodales tellus ultricies commodo.
            Suspendisse potenti.  Aenean in sem ac leo mollis blandit.
            Donec neque quam, dignissim in, mollis nec, sagittis eu, wisi.
            Phasellus lacus.  Etiam laoreet quam sed arcu.  Phasellus at
            dui in ligula mollis ultricies.  Integer placerat tristique
            nisl.  Praesent augue.  Fusce commodo.  Vestibulum convallis,
            lorem a tempus semper, dui dui euismod elit, vitae placerat
            urna tortor vitae lacus.  Nullam libero mauris, consequat
            quis, varius et, dictum id, arcu.  Mauris mollis tincidunt
            felis.  Aliquam feugiat tellus ut neque.  Nulla facilisis,
            risus a rhoncus fermentum, tellus tellus lacinia purus, et
            dictum nunc justo sit amet elit.
          </p>

          <p>
            Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In id
            erat non orci commodo lobortis.  Proin neque massa, cursus ut,
            gravida ut, lobortis eget, lacus.  Sed diam.  Praesent
            fermentum tempor tellus.  Nullam tempus.  Mauris ac felis vel
            velit tristique imperdiet.  Donec at pede.  Etiam vel neque
            nec dui dignissim bibendum.  Vivamus id enim.  Phasellus neque
            orci, porta a, aliquet quis, semper a, massa.  Phasellus
            purus.  Pellentesque tristique imperdiet tortor.  Nam euismod
            tellus id erat.
          </p>

          <h2>Sed diam</h2>

          <p>
            Nunc eleifend leo vitae magna.  In id erat non orci
            commodo lobortis.  Proin neque massa, cursus ut, gravida
            ut, lobortis eget, lacus.  Sed diam.  Praesent fermentum
            tempor tellus.  Nullam tempus.  Mauris ac felis vel velit
            tristique imperdiet.  Donec at pede.  Etiam vel neque nec
            dui dignissim bibendum.  Vivamus id enim.  Phasellus neque
            orci, porta a, aliquet quis, semper a, massa.  Phasellus
            purus.  Pellentesque tristique imperdiet tortor.  Nam
            euismod tellus id erat.
          </p>

          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Donec hendrerit tempor tellus.  Donec pretium posuere
            tellus.  Proin quam nisl, tincidunt et, mattis eget,
            convallis nec, purus.  Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus.
            Nulla posuere.  Donec vitae dolor.  Nullam tristique diam
            non turpis.  Cras placerat accumsan nulla.  Nullam rutrum.
            Nam vestibulum accumsan nisl.
          </p>
        </article>
      </main>

      <section class="sidebar secondary">
        <p>
          Nullam eu ante vel est convallis dignissim.  Fusce suscipit,
          wisi nec facilisis facilisis, est dui fermentum leo, quis
          tempor ligula erat quis odio.  Nunc porta vulputate tellus.
          Nunc rutrum turpis sed pede.  Sed bibendum.  Aliquam posuere.
          Nunc aliquet, augue nec adipiscing interdum, lacus tellus
          malesuada massa, quis varius mi purus non odio.  Pellentesque
          condimentum, magna ut suscipit hendrerit, ipsum augue ornare
          nulla, non luctus diam neque sit amet urna.  Curabitur
          vulputate vestibulum lorem.  Fusce sagittis, libero non
          molestie mollis, magna orci ultrices dolor, at vulputate neque
          nulla lacinia eros.  Sed id ligula quis est convallis tempor.
          Curabitur lacinia pulvinar nibh.  Nam a sapien.
        </p>

        <ul>
          <li><a href="#">Aliquam posuere.</a></li>
          <li><a href="#">Sed bibendum.</a></li>
          <li><a href="#">Etiam vel neque nec dui dignissim bibendum.</a></li>
          <li><a href="#">Praesent fermentum tempor tellus.</a></li>
          <li><a href="#">Proin quam nisl, tincidunt et, mattis eget.</a></li>
          <li><a href="#">Nunc aliquet, augue nec adipiscing interdum.</a></li>
          <li><a href="#">Suspendisse potenti.</a></li>
          <li><a href="#">Fusce sagittis, libero non molestie mollis.</a></li>
          <li><a href="#">Sociis natoque penatibus et magnis dis parturient.</a></li>
          <li><a href="#">Phasellus purus.</a></li>
          <li><a href="#">Etiam vel neque nec dui dignissim bibendum.</a></li>
          <li><a href="#">Nam vestibulum accumsan nisl.</a></li>
          <li><a href="#">Vivamus id enim.</a></li>
          <li><a href="#">Phasellus purus.</a></li>
          <li><a href="#">Curabitur vulputate vestibulum lorem.</a></li>
          <li><a href="#">Sed bibendum.</a></li>
          <li><a href="#">Nullam libero mauris, consequat quis.</a></li>
        </ul>
      </section>
    </div>

    <footer>
      <section>
        <p class="copyright">
          Copyright &#169; 2016 Awesome Company, All Rights Reserved.
        </p>

        <p>
          Aliquam erat volutpat.  Nunc eleifend leo vitae magna.  In id
          erat non orci commodo lobortis.  Proin neque massa, cursus ut,
          gravida ut, lobortis eget, lacus.  Sed diam.  Praesent
          fermentum tempor tellus.  Nullam tempus.  Mauris ac felis vel
          velit tristique imperdiet.  Donec at pede.  Etiam vel neque
          nec dui dignissim bibendum.  Vivamus id enim.  Phasellus neque
          orci, porta a, aliquet quis, semper a, massa.  Phasellus
          purus.  Pellentesque tristique imperdiet tortor.  Nam euismod
          tellus id erat.
        </p>
      </section>

      <section>
        <ul>
          <li><a href="#">Mauris mollis tincidunt felis.</a></li>
          <li><a href="#">Nunc rutrum turpis sed pede.</a></li>
          <li><a href="#">Phasellus purus.</a></li>
          <li><a href="#">Nulla posuere.</a></li>
        </ul>
      </section>
    </footer>

    <script src="../visualselectors.js"></script>
    <script>var v = new VisualSelector();</script>
  </body>
</html>
