body{
  font-size:.7em;
}

#bucket {
  position:absolute;
  top:5px;
  right:5px;
  border:2px solid #ccc;
  border-radius:2px;
  border-top:0;
  background-color:#ececec;
  width:20%;
  font-size:8px;
}
#bucket::before {
  content:"Bucket";
}

#bucket a,
#bucket div,
#bucket ul * {
  display:block;
  color:red;
}

#bucket li, #bucket li * {
  color: green;
}

#bucket li p {
  margin: 0;
  padding: 0;
}
