/*############################################################################*/
/*
 * Exercises:
 *
 * For these exercises you will need to write a selector and apply
 * some styling properties.  Sometimes you'll be able to use any
 * selector you wish, while other times you'll be asked to use a
 * specific selector.
 */

/* Using Child Pseudo Selectors... */

/*############################################################################*/
/* Exercise 1:

   In the section with the ID of "products", select the first <ul>
   element and place a black 1 pixel border along its bottom edge.

*/



/*############################################################################*/
/* Exercise 2:

   In the section with the ID of "products",  select the last <p>
   element and change the text color to brown.

*/



/*############################################################################*/
/* Exercise 3:

   In the section with the ID of "products",  select the first <p>
   element and change the text color to green.

*/
