/*############################################################################*/
/*
 * Exercises:
 *
 * For these exercises you will need to write a selector and apply
 * some styling properties.  Sometimes you'll be able to use any
 * selector you wish, while other times you'll be asked to use a
 * specific selector.
 */

/*############################################################################*/
/* Exercise 1:

   Select every other table row (even rows) and change their
   background color to #eee.

   Hint: {background-color: #eee;}
*/
tbody tr:nth-child(2n)
{ background-color: #eee; }

/*############################################################################*/
/* Exercise 2:

   Select the last three table rows and change their font weight to
   bold.

   Hint: {font-weight: bold;}
*/
tbody tr:nth-last-child(-n+3)
{ font-weight: bold; }

/*############################################################################*/
/* Exercise 3:

   Select the unordered list near the bottom of the article tag and:

     1) Change the background color for the first four list items to
        yellow.

     2) Change the background color for the last four list items to
        orange.

   Hint: {background-color: color;}
*/
article > ul:last-of-type li:nth-child(-n+4) { background-color: yellow; }
article > ul:last-of-type li:nth-last-child(-n+4) { background-color: orange; }

/*############################################################################*/
/* Exercise 4:

   For every list in the HTML (ul or ol), select every third list
   item, starting with the first item, and make the text color red.
   Lists with a single list item should not be affected.

   Hint: {color: red;}
*/
li:nth-child(3n+1):not(:only-child)
{ color: red; }

/*############################################################################*/
/* Exercise 5:

   Select the first column in every fourth table row, and:

     * Align the text to the right
     * Add a black right border

   Hint: {text-align: right; border-right: 1px solid black;}
*/
tbody tr:nth-child(4n) td:first-child {
  text-align: right;
  border-right: 1px solid black;
}
